[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Explicitly set requests to be >=2.20.0 due to a security vulnerability in v. <=2.19.1:
# https://nvd.nist.gov/vuln/detail/CVE-2018-18074
requests = ">=2.20.0"

[dev-packages]

[requires]
python_version = "3.7"
